
.navbar{
    
    background-color: #FFF7F1;
    height: auto; 
    margin-top: 0;
    padding: 3px 0; 
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

}
.nav>li{
    list-style: none;
    font-size: 20px;
    transition: color 0.3s; 
   
 
}

.nav > li:hover {
  color: #FF8911; 
}  

.head a{
    font-size:3rem;
    text-decoration:none;
    color:#333;
    font-weight: bold;
}
.head a:hover{
    color:#FC6736;
}
.nav >li>a{
    text-decoration: none;
}